*{
    box-sizing: border-box;
    width: 100%;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d4d4d4;
}

/*
header{

    display: inline;

    .fa{
        font-size: 16px;
    }

    .search{
        #searchbar{
            width: 50%;
        }
        #searchbutton{
            width: 10%;
        }
    }
}
*/ 

.container{
    background-color: #9F9F9F;
    width: 80%;
}

.main{
    display: flex;
    flex-direction: row;
    justify-content: center;

    .sidebar{

        width: 15%;
        height: 100%;
        align-items: center;
        justify-content: center;
        margin-left: 30px;

        h3{
            font-size: 20px;
        }

        ul{
            list-style: none;
            line-height: 10px;

            li{
                text-decoration: none;
            }
        }
    }
}