*{
    box-sizing: border-box;
    font-size: 15px;
    font-family: Carme, sans-serif;
    background-color: #FFFFFF;
}

.main.container .searchbar {
	position: fixed;
	top: 0;
	left: 230px;
	width: 100%;
    z-index: 1;
}

.main.container .searchbar input {
	width: 600px;
	
	margin-left: 5px;
	
	border: none;
	
	font-size: 17px;
}

.main.container .searchbar i {
	margin-top: 50px;
	margin-left: 100px;
}

.main.container .sidebar {
	position: fixed;
	/*background-color: blue;*/
    width: 200px;
	/*width: 10%;*/
	height: 100%;
	top: 0;
	left: 30px;
	margin: 0;
	padding-top: 100px;
}

.main.container .sidebar h3 {
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 36px;
	margin-bottom: 60px;
	padding-left: 20px;
}

.main.container .sidebar button {
	border: none;
	margin: 0;
	
	font-size: 16px;
	text-align: left;
	
	height: 80px;
	width: 200px;
	
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 20px;
	padding-left: 20px;
}

.main.container .sidebar button:hover {
	background-color: #d4d4d4
}

.main.container .sidebar button:hover img{
	background-color: #d4d4d4
}

.main.container .sidebar img {
	width: 20px;
	height: 20px;
	margin-right: 10px;
}

.product-window {
    /*align-content: flex-start;*/
	/*margin-left: 225px;*/
	/*margin-left: 10%;*/
	margin-top: 10%;
    /*background-color: yellow;*/
}

.product-item {
    position: relative;
    width: 250px;
    height: 350px;
    display: inline-block;
    background-color: blue;
    margin: 3px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-position: center;
    /*background-size: 90%;*/
    background-size: cover;
    background-repeat: no-repeat;
}

.product-item.banana {
    background-image: url('../img/Pereciveis/banana-nanica.jpeg');
}

.product-item.maca {
    background-image: url('../img/Pereciveis/maca-fuji.jpg');
}

.product-item.pera {
    background-image: url('../img/Pereciveis/pera.jpeg');
}

.product-description {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: #fffd;
    border-radius: 0 0 6px 6px;
}

.product-description b, .product-description div, .product-description em {
    background-color: transparent;
}

.product-price {
    float: right;
    font-weight: bold;
    color: #855;
}

.product-vendor {
    color: #bbb;
}

.product-vendor a {
    color: inherit;
    font-weight: bold;
}

.product-add-to-cart-button {
    position: absolute;
    top: 0;
    margin: 4px 0 0 4px;
    border: none;
    color: #66f;
    font-size: 1.2em;
    background-color: #fffa;
    border-radius: 4px;
    transition: all 3s;
}

.product-add-to-cart-button:hover:after {
    content: ' adicionar ao carrinho';
}
