* {
    box-sizing: border-box;
    font-size: 15px;
    font-family: Carme, sans-serif;
    background-color: #FFFFFF;
}

.main.container .searchbar {
	position: fixed;
	top: 0;
	left: 230px;
	width: 100%;
    z-index: 1;
}

.main.container .searchbar input {
	width: 600px;
	
	margin-left: 5px;
	
	border: none;
	
	font-size: 17px;
}

.main.container .searchbar i {
	margin-top: 50px;
	margin-left: 100px;
}

.main.container .sidebar {
	position: fixed;
	/*background-color: blue;*/
    width: 200px;
	/*width: 10%;*/
	height: 100%;
	top: 0;
	left: 30px;
	margin: 0;
	padding-top: 100px;
}

.main.container .sidebar h3 {
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 36px;
	margin-bottom: 60px;
	padding-left: 20px;
}

.main.container .sidebar button {
	border: none;
	margin: 0;
	
	font-size: 16px;
	text-align: left;
	
	height: 80px;
	width: 200px;
	
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 20px;
	padding-left: 20px;
}

.main.container .sidebar button:hover {
	background-color: #d4d4d4
}

.main.container .sidebar button:hover img{
	background-color: #d4d4d4
}

.main.container .sidebar img {
	width: 20px;
	height: 20px;
	margin-right: 10px;
}

.product-window {
    /*align-content: flex-start;*/
	/*margin-left: 225px;*/
	/*margin-left: 10%;*/
	margin-top: 10%;
    /*background-color: yellow;*/
}

.product-item {
    position: relative;
    width: 250px;
    height: 350px;
    display: inline-block;
    background-color: blue;
    margin: 8px;
    box-shadow: 2px 1px 4px #aaa;
    border-radius: 6px;
    background-position: center;
    /*background-size: 90%;*/
    background-size: cover;
    background-repeat: no-repeat;
}

.product-item.banana {
    background-image: url('../img/Pereciveis/banana-nanica.jpeg');
}

.product-item.maca {
    background-image: url('../img/Pereciveis/maca-fuji.jpg');
}

.product-item.pera {
    background-image: url('../img/Pereciveis/pera.jpeg');
}

.product-description {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 14px;
    background-color: #fffc;
    border-radius: 0 0 6px 6px;
    backdrop-filter: blur(8px);
    color: #4c4c4c;
}

.product-description > a {
    color: inherit;
}

.product-description b, .product-description div, .product-description span {
    background-color: transparent;
}

.product-price {
    float: left;
    font-weight: bold;
    color: #5a5;
}

.product-vendor {
    color: #888;
    font-size: 0.9em;
}

.product-vendor a {
    color: inherit;
    font-weight: bold;
    font-size: inherit;
}

.product-add-to-cart-button {
    position: absolute;
    min-width: 24px;
    max-width: 96%;
    /*height: 24px;*/
    top: 0;
    right: 2%;
    padding: 0 8px;
    margin: 2% 0 0 2%;
    border: none;
    color: #66f;
    text-align: left;
    font-size: 1.25em;
    background-color: #fffa;
    border-radius: 4px;
}

.product-add-to-cart-button:hover:before {
    content: 'adicionar ao carrinho ';
}
.product-table{
	text-align: center;
}
.card{
	margin: 5px;
	padding: 5px;
	background-color: red;
}
.card:hover{
	background-color: green;
}

.product-image{
	max-width: 40%;
}