@import '/src/Global.css';

.Header {
    position: relative;
    height: 85px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 30px;
    border-bottom: 2px solid var(--bg-color-darker);
    background-color: var(--bg-color-lightest);
    color: var(--neutral-color);
}