@import '/src/Global.css';

.Sidebar {
    position: relative;
    min-width: var(--sidebar-width);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-right: 2px solid var(--bg-color-darkest);
    background-color: var(--bg-color-darker);
}